path {
  stroke: #000;
  stroke-width: .2px;
}

.map {
  background-color: #F0F0F0;
  border: #000;
  text-align: center;
  stroke-width: .5px;
  vertical-align: bottom;
}

.title {
	font-size:  20pt;
	margin-top: 0px;
	padding-top: 5px;
	padding-left: 20px;
	margin-bottom: 2px;
	padding-bottom: 2px;
	background-color: #444;
	color: #EEE;
}

.mapNavigator {
	padding-top: 5px;
	padding-left: 100px;
}

#mapCanvas {
	padding-left: 	50px;
	padding-top: 	10px;
	padding-bottom: 10px;
}

.frameToFrameButton {
	width: 30px;
	padding-top: 0px;
	font-weight: bold;
}

.controls {
	margin-left: 135px;
}

#syriaImage {	
	width:		500px;
	text-align: right;
	display: 	block;
}

#monthDisplayer {
	margin-top:		10px;
	margin-left: 	10px;
	margin-right: 	10px;
	font-size: 		10pt;
}